@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap");
@keyframes text-gradient {
  0% {
    color: #DF3A01;
    text-shadow: 0 0 0.1rem #DF3A01;
  }
  30% {
    color: #f157d5;
    text-shadow: 0 0 0.1rem #f157d5;
  }
  50% {
    color: #0040FF;
    text-shadow: 0 0 0.1rem #0040FF;
  }
  70% {
    color: #1b7413;
    text-shadow: 0 0 0.1rem #1b7413;
  }
  90% {
    color: black;
    text-shadow: none;
  }
  100% {
    color: #DF3A01;
    text-shadow: 0 0 0.5rem #DF3A01;
  }
}
@keyframes fade-dog {
  0% {
    opacity: 1;
    border-radius: 30px;
  }
  15% {
    opacity: 0.8;
    border-radius: 60px;
  }
  25% {
    opacity: 0.6;
    border-radius: 90px;
  }
  35% {
    opacity: 0.4;
    border-radius: 100px;
  }
  45% {
    opacity: 0;
    border-radius: 120px;
  }
  55% {
    opacity: 0;
  }
  65% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
body {
  max-width: 100%;
  margin: 0;
  background: linear-gradient(#ffcc33 15%, #382929);
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 100%;
  height: 500px;
}

.image-resize-mode {
  max-width: 500px;
  height: 200px;
}

.elt__text {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  text-align: center;
}

span {
  display: inline-block;
  line-height: 3rem;
  font-size: 1.5rem;
  font-family: "love ya like a sister";
}

.word {
  color: #ffcc33;
  animation: text-gradient 8s linear infinite;
  -moz-animation: text-gradient 8s linear infinite;
  -webkit-animation: text-gradient 8s linear infinite;
  -o-animation: text-gradient 8s linear infinite;
  -ms-animation: text-gradient 8s linear infinite;
}

.word:nth-child(1) {
  animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.01s;
}

.word:nth-child(2) {
  animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -ms-animation-delay: 0.02s;
}

.word:nth-child(3) {
  animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0 0.3s;
}

.word:nth-child(4) {
  animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -ms-animation-delay: 0.04s;
}

.word:nth-child(5) {
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.05s;
}

.word:nth-child(6) {
  animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -ms-animation-delay: 0.06s;
}

.word:nth-child(7) {
  animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -o-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
}

.word:nth-child(8) {
  animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -ms-animation-delay: 0.08s;
}

.word:nth-child(9) {
  animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  -ms-animation-delay: 0.09s;
}

.dog__elt {
  width: 100%;
  height: 200px;
}
.dog__elt .dog__sad {
  width: 90%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  animation: fade-dog ease-in-out 8s 800ms infinite;
  -moz-animation: fade-dog ease-in-out 8s 800ms infinite;
  -webkit-animation: fade-dog ease-in-out 8s 800ms infinite;
  -o-animation: fade-dog ease-in-out 8s 800ms infinite;
  -ms-animation: fade-dog ease-in-out 8s 800ms infinite;
}

.dog__sad img {
  position: relative;
}

.dog__elts {
  width: 100%;
  height: 200px;
}
.dog__elts .dog__funny {
  width: 89.9%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}

.dog__funny img {
  position: relative;
}

.dog__text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "love ya like a sister";
  font-size: 1.5rem;
  color: white;
  animation: fade-dog ease-in-out 8s 800ms infinite;
  -moz-animation: fade-dog ease-in-out 8s 800ms infinite;
  -webkit-animation: fade-dog ease-in-out 8s 800ms infinite;
  -o-animation: fade-dog ease-in-out 8s 800ms infinite;
  -ms-animation: fade-dog ease-in-out 8s 800ms infinite;
}

.dog__text2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-family: "love ya like a sister";
  font-size: 1.5rem;
  color: black;
  z-index: -1;
}

/* fireworks animation thanks to Eddie Lin codepen*/
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 128px -190.6666666667px #ff6a00, 159px -53.6666666667px fuchsia, 25px 56.3333333333px #8c00ff, -4px -251.6666666667px #ff8000, 71px -354.6666666667px #00d9ff, -126px 28.3333333333px #0022ff, -186px 66.3333333333px #ddff00, -114px -288.6666666667px #ff0080, -114px -96.6666666667px #ff001a, -57px 22.3333333333px #0d00ff, 204px -163.6666666667px #3c00ff, -89px -141.6666666667px #0084ff, -46px -185.6666666667px #ff005e, 183px -267.6666666667px #ffb300, 86px -354.6666666667px #ff0051, 31px -311.6666666667px #ff007b, -126px 18.3333333333px #0073ff, -132px -394.6666666667px #b700ff, -247px -13.6666666667px #d900ff, -127px -260.6666666667px #2f00ff, -169px -182.6666666667px #00ff62, -177px 69.3333333333px #00c8ff, 236px -263.6666666667px #0037ff, -60px -252.6666666667px #ff002b, -42px -331.6666666667px #eeff00, -40px -302.6666666667px #00ff6f, 246px -369.6666666667px #00ff66, -27px -147.6666666667px #ffb300, -236px -130.6666666667px #8cff00, 220px -223.6666666667px #00ff09, -36px -373.6666666667px #40ff00, 101px 2.3333333333px #a200ff, 243px 53.3333333333px #ff0004, -123px -110.6666666667px darkorange, 219px -351.6666666667px #80ff00, -15px -263.6666666667px #a6ff00, 119px -143.6666666667px #00ffc4, -16px -129.6666666667px #26ff00, 29px -181.6666666667px #4000ff, 95px -415.6666666667px #e100ff, -206px -291.6666666667px #26ff00, -197px -267.6666666667px #95ff00, 219px -358.6666666667px #00fffb, -110px -67.6666666667px #ff006f, -160px 13.3333333333px #4400ff, 41px -348.6666666667px #ff2600, -73px -246.6666666667px #00ff2b, 71px -1.6666666667px #00f7ff, -217px -375.6666666667px #0055ff, -215px -358.6666666667px #9d00ff, 17px -293.6666666667px #0073ff;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 128px -190.6666666667px #ff6a00, 159px -53.6666666667px fuchsia, 25px 56.3333333333px #8c00ff, -4px -251.6666666667px #ff8000, 71px -354.6666666667px #00d9ff, -126px 28.3333333333px #0022ff, -186px 66.3333333333px #ddff00, -114px -288.6666666667px #ff0080, -114px -96.6666666667px #ff001a, -57px 22.3333333333px #0d00ff, 204px -163.6666666667px #3c00ff, -89px -141.6666666667px #0084ff, -46px -185.6666666667px #ff005e, 183px -267.6666666667px #ffb300, 86px -354.6666666667px #ff0051, 31px -311.6666666667px #ff007b, -126px 18.3333333333px #0073ff, -132px -394.6666666667px #b700ff, -247px -13.6666666667px #d900ff, -127px -260.6666666667px #2f00ff, -169px -182.6666666667px #00ff62, -177px 69.3333333333px #00c8ff, 236px -263.6666666667px #0037ff, -60px -252.6666666667px #ff002b, -42px -331.6666666667px #eeff00, -40px -302.6666666667px #00ff6f, 246px -369.6666666667px #00ff66, -27px -147.6666666667px #ffb300, -236px -130.6666666667px #8cff00, 220px -223.6666666667px #00ff09, -36px -373.6666666667px #40ff00, 101px 2.3333333333px #a200ff, 243px 53.3333333333px #ff0004, -123px -110.6666666667px darkorange, 219px -351.6666666667px #80ff00, -15px -263.6666666667px #a6ff00, 119px -143.6666666667px #00ffc4, -16px -129.6666666667px #26ff00, 29px -181.6666666667px #4000ff, 95px -415.6666666667px #e100ff, -206px -291.6666666667px #26ff00, -197px -267.6666666667px #95ff00, 219px -358.6666666667px #00fffb, -110px -67.6666666667px #ff006f, -160px 13.3333333333px #4400ff, 41px -348.6666666667px #ff2600, -73px -246.6666666667px #00ff2b, 71px -1.6666666667px #00f7ff, -217px -375.6666666667px #0055ff, -215px -358.6666666667px #9d00ff, 17px -293.6666666667px #0073ff;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 128px -190.6666666667px #ff6a00, 159px -53.6666666667px fuchsia, 25px 56.3333333333px #8c00ff, -4px -251.6666666667px #ff8000, 71px -354.6666666667px #00d9ff, -126px 28.3333333333px #0022ff, -186px 66.3333333333px #ddff00, -114px -288.6666666667px #ff0080, -114px -96.6666666667px #ff001a, -57px 22.3333333333px #0d00ff, 204px -163.6666666667px #3c00ff, -89px -141.6666666667px #0084ff, -46px -185.6666666667px #ff005e, 183px -267.6666666667px #ffb300, 86px -354.6666666667px #ff0051, 31px -311.6666666667px #ff007b, -126px 18.3333333333px #0073ff, -132px -394.6666666667px #b700ff, -247px -13.6666666667px #d900ff, -127px -260.6666666667px #2f00ff, -169px -182.6666666667px #00ff62, -177px 69.3333333333px #00c8ff, 236px -263.6666666667px #0037ff, -60px -252.6666666667px #ff002b, -42px -331.6666666667px #eeff00, -40px -302.6666666667px #00ff6f, 246px -369.6666666667px #00ff66, -27px -147.6666666667px #ffb300, -236px -130.6666666667px #8cff00, 220px -223.6666666667px #00ff09, -36px -373.6666666667px #40ff00, 101px 2.3333333333px #a200ff, 243px 53.3333333333px #ff0004, -123px -110.6666666667px darkorange, 219px -351.6666666667px #80ff00, -15px -263.6666666667px #a6ff00, 119px -143.6666666667px #00ffc4, -16px -129.6666666667px #26ff00, 29px -181.6666666667px #4000ff, 95px -415.6666666667px #e100ff, -206px -291.6666666667px #26ff00, -197px -267.6666666667px #95ff00, 219px -358.6666666667px #00fffb, -110px -67.6666666667px #ff006f, -160px 13.3333333333px #4400ff, 41px -348.6666666667px #ff2600, -73px -246.6666666667px #00ff2b, 71px -1.6666666667px #00f7ff, -217px -375.6666666667px #0055ff, -215px -358.6666666667px #9d00ff, 17px -293.6666666667px #0073ff;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 128px -190.6666666667px #ff6a00, 159px -53.6666666667px fuchsia, 25px 56.3333333333px #8c00ff, -4px -251.6666666667px #ff8000, 71px -354.6666666667px #00d9ff, -126px 28.3333333333px #0022ff, -186px 66.3333333333px #ddff00, -114px -288.6666666667px #ff0080, -114px -96.6666666667px #ff001a, -57px 22.3333333333px #0d00ff, 204px -163.6666666667px #3c00ff, -89px -141.6666666667px #0084ff, -46px -185.6666666667px #ff005e, 183px -267.6666666667px #ffb300, 86px -354.6666666667px #ff0051, 31px -311.6666666667px #ff007b, -126px 18.3333333333px #0073ff, -132px -394.6666666667px #b700ff, -247px -13.6666666667px #d900ff, -127px -260.6666666667px #2f00ff, -169px -182.6666666667px #00ff62, -177px 69.3333333333px #00c8ff, 236px -263.6666666667px #0037ff, -60px -252.6666666667px #ff002b, -42px -331.6666666667px #eeff00, -40px -302.6666666667px #00ff6f, 246px -369.6666666667px #00ff66, -27px -147.6666666667px #ffb300, -236px -130.6666666667px #8cff00, 220px -223.6666666667px #00ff09, -36px -373.6666666667px #40ff00, 101px 2.3333333333px #a200ff, 243px 53.3333333333px #ff0004, -123px -110.6666666667px darkorange, 219px -351.6666666667px #80ff00, -15px -263.6666666667px #a6ff00, 119px -143.6666666667px #00ffc4, -16px -129.6666666667px #26ff00, 29px -181.6666666667px #4000ff, 95px -415.6666666667px #e100ff, -206px -291.6666666667px #26ff00, -197px -267.6666666667px #95ff00, 219px -358.6666666667px #00fffb, -110px -67.6666666667px #ff006f, -160px 13.3333333333px #4400ff, 41px -348.6666666667px #ff2600, -73px -246.6666666667px #00ff2b, 71px -1.6666666667px #00f7ff, -217px -375.6666666667px #0055ff, -215px -358.6666666667px #9d00ff, 17px -293.6666666667px #0073ff;
  }
}
@keyframes bang {
  to {
    box-shadow: 128px -190.6666666667px #ff6a00, 159px -53.6666666667px fuchsia, 25px 56.3333333333px #8c00ff, -4px -251.6666666667px #ff8000, 71px -354.6666666667px #00d9ff, -126px 28.3333333333px #0022ff, -186px 66.3333333333px #ddff00, -114px -288.6666666667px #ff0080, -114px -96.6666666667px #ff001a, -57px 22.3333333333px #0d00ff, 204px -163.6666666667px #3c00ff, -89px -141.6666666667px #0084ff, -46px -185.6666666667px #ff005e, 183px -267.6666666667px #ffb300, 86px -354.6666666667px #ff0051, 31px -311.6666666667px #ff007b, -126px 18.3333333333px #0073ff, -132px -394.6666666667px #b700ff, -247px -13.6666666667px #d900ff, -127px -260.6666666667px #2f00ff, -169px -182.6666666667px #00ff62, -177px 69.3333333333px #00c8ff, 236px -263.6666666667px #0037ff, -60px -252.6666666667px #ff002b, -42px -331.6666666667px #eeff00, -40px -302.6666666667px #00ff6f, 246px -369.6666666667px #00ff66, -27px -147.6666666667px #ffb300, -236px -130.6666666667px #8cff00, 220px -223.6666666667px #00ff09, -36px -373.6666666667px #40ff00, 101px 2.3333333333px #a200ff, 243px 53.3333333333px #ff0004, -123px -110.6666666667px darkorange, 219px -351.6666666667px #80ff00, -15px -263.6666666667px #a6ff00, 119px -143.6666666667px #00ffc4, -16px -129.6666666667px #26ff00, 29px -181.6666666667px #4000ff, 95px -415.6666666667px #e100ff, -206px -291.6666666667px #26ff00, -197px -267.6666666667px #95ff00, 219px -358.6666666667px #00fffb, -110px -67.6666666667px #ff006f, -160px 13.3333333333px #4400ff, 41px -348.6666666667px #ff2600, -73px -246.6666666667px #00ff2b, 71px -1.6666666667px #00f7ff, -217px -375.6666666667px #0055ff, -215px -358.6666666667px #9d00ff, 17px -293.6666666667px #0073ff;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 10%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 10%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 10%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 10%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 10%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 10%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 10%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 10%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 10%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 10%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 10%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 10%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 10%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 10%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 10%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 10%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 10%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 10%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 10%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 10%;
    margin-left: 80%;
  }
}
.lightsaber .hilt {
  cursor: pointer;
  width: 15px;
  height: 50px;
  border-bottom: solid 4px grey;
  border-top: solid 5px grey;
  border-radius: 5px;
  z-index: 1;
  background: #e2e2e2;
  background: linear-gradient(to right, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
}
.lightsaber .hilt > .switch {
  background: #b94a37;
  width: 3px;
  height: 10px;
  position: absolute;
  bottom: 25px;
  left: 13px;
  border-radius: 10px;
}
.lightsaber .hilt > p {
  width: 100px;
  font-family: "love ya like a sister";
  font-size: 18px;
  margin-left: 25px;
  color: white;
}
.lightsaber .hilt:active + .plasma {
  transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
}
.lightsaber .hilt:active > .switch {
  transform: scale(0.7, 1);
  -moz-transform: scale(0.7, 1);
  -webkit-transform: scale(0.7, 1);
  -o-transform: scale(0.7, 1);
  -ms-transform: scale(0.7, 1);
}

.lightsaber .plasma {
  transition: transform 300ms;
  border-radius: 12px 12px 0 0;
  position: absolute;
  bottom: 45px;
  left: 2px;
  width: 10px;
  display: block;
  transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -webkit-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  height: 250px;
  transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  z-index: -1;
  filter: blur(1px);
}

.vader {
  background: linear-gradient(to right, #e51115 0%, #fefefe 30%, #fefefe 47%, #fefefe 71%, #e51115 100%);
  box-shadow: 0 0 10px #e51115;
}

.lightsaber-example {
  display: flex;
  justify-content: center;
  padding-top: 400px;
}

.lightsaber {
  position: relative;
}

/*# sourceMappingURL=NewYearCard.css.map */
